# Залежності
node_modules/

# Збірка TypeScript
dist/

# Змінні оточення (паролі, посилання на БД)
.env

# Ключі Firebase (КРИТИЧНО ВАЖЛИВО!)
serviceAccountKey.json

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Налаштування редакторів/ОС
.vscode/
.idea/
.DS_Store